:root{
  --skin: #84A7C0;
  --skinLight: #94B7D0;
  --skinDark: #546790;
  --mouth: lightpink;
  --outline: #2E2E2E;
}

.artboard{
  height: inherit;
  width: inherit;
}

.dugong{
  position: relative;
  animation: swim 4s ease-in-out;
  animation-iteration-count: infinite;
}

.dugong:hover{
  cursor: pointer;
}

.skin{
  background-color: var(--skin);
}

.skinLight{
  background-color: var(--skinLight);
}

.skinDark{
  background-color: var(--skinDark);
}

.mouth{
  background-color: var(--mouth);
}

.mouth1{
  justify-self: flex-end;
  border-bottom-left-radius: 100%;
  width: 50%;
}

.mouth2{
  border-bottom-right-radius: 100%;
  width: 50%;
}

.pt{
  position: absolute;
  z-index: 6;
  height: 1em;
  width: 0.7em;
  border-radius: 2em;
  background-color: var(--outline);
}

.eye1{
  bottom: -0.5em;
  right: 0;
}

.eye2{
  top: 0.3em;
  right: 0.2em;
}

.nose1{
  right: 0.5em;
  top: 1em;
  transform: scale(50%) rotate(30deg);
}

.nose2{
  left: 0.5em;
  top: 1em;
  transform: scale(50%) rotate(-30deg);
}

.dugong-head{
  position: absolute;
  z-index: 3;
  left: 1.5em;
  display: grid;
  height: 10em;
  width: 9em;
  grid-template-rows: 35% 50% 15%;
  grid-template-columns: 35% 65%;
}

.dugong-head .ne{
  border-left-width: 0em;
}

.head-junction1{
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 50% 20% 30%;
}

.stroke-top{
  border-width: 0.3em;
  border-color: var(--outline);
  border-top-style: solid;
}

.stroke-right{
  border-width: 0.3em;
  border-color: var(--outline);
  border-right-style: solid;
}

.stroke-bottom{
  border-width: 0.3em;
  border-color: var(--outline);
  border-bottom-style: solid;
}

.stroke-left{
  border-width: 0.3em;
  border-color: var(--outline);
  border-left-style: solid;
}

.head-part0{
  position: relative;
}

.head-part1{
  display: grid;
  grid-template-columns: 10% 90%;
}

.head-part2{
  position: relative;
  border-top-right-radius: 10%;
}

.head-part6{
  display: grid;
  grid-template-columns: 30% 70%;
}

.head-part3{
  height: 100%;
  width: 95%;
  border-width: 0.3em;
  border-color: var(--outline);
  border-top-style: solid;
  border-right-style: solid;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 1em;
}

.dugong-snout{
  position: absolute;
  z-index: 5;
  top: 5em;
  right: 4.4em;
  height: 5em;
  width: 8em;
  display: grid;
  grid-template-rows: 70% 30%;
}

.dugong-snout:hover{
  animation: talk 0.7s ease-in;
  animation-iteration-count: infinite;
}

.snout-grid{
  display: grid;
  grid-template-columns: 1fr 15% 15% 1fr;
}

.snout-part{
  position: relative;
}

.snout-top .sw, .snout-top .se{
  border-top-width: 0em;
}

.snout-grid .ne-sharp{
  border-left-width: 0em;
}

.snout-grid .nw-sharp{
  border-right-width: 0em;
}

.dugong-body{
  position: absolute;
  z-index: 2;
  display: grid;
  height: 15em;
  width: 12em;
  top: 8em;
  left: 1.5em;
  grid-template-rows: 30% 30% 40%;
  grid-template-columns: 20% 1fr 15%;
}

.dugong-body .sw-sharp{
  border-right-width: 0em;
}

.body-junction1{
  grid-column: 1/4;
  grid-row: 3/4;
  border-width: 0.3em;
  border-color: var(--outline);
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-left-radius: 16em;
  border-bottom-right-radius: 16em;
}

.tummy-top{
  display: grid;
  justify-items: center;
}

.arc{
  height: 90%;
  width: 100%;
  border-top-left-radius: 20em;
  display: grid;
  align-items: flex-end;
  justify-items: center;
}

.tummy{
  height: 80%;
  width: 100%;
  border-bottom-left-radius: 20em;
  border-bottom-right-radius: 20em;
  background-color: var(--skin);
}

.dugong-tail{
  position: absolute;
  z-index: 3;
  top: 19.5em;
  left: 5.5em;
  display: grid;
  grid-template-columns: 55% 45%;
  height: 6em;
  width: 8em;
  transform: rotateX(-60deg) rotateZ(-15deg);
  animation: tailFlip 4s ease-in-out;
  animation-iteration-count: infinite;
}

.tail-left{
  background-color: var(--skin);
  border-width: 0.4em;
  border-color: var(--outline);
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 90%;
  border-bottom-right-radius: 50%;
}

.tail-right{
  background-color: var(--skin);
  border-width: 0.4em;
  border-color: var(--outline);
  border-bottom-style: solid;
  border-right-style: solid;
  border-top-right-radius: 90%;
  border-bottom-left-radius: 50%;
}

.dugong-fin1{
  position: absolute;
  z-index: 4;
  top: 9em;
  left: -1.5em;
  height: 9em;
  width: 4em;
  background-color: var(--skin);
  border-width: 0.3em;
  border-color: var(--outline);
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-left-radius: 30%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 20%;
  transform: rotate(30deg) rotateY(30deg);
  animation: flip1 4s ease-in-out;
  animation-iteration-count: infinite;
}

.dugong-fin2{
  position: absolute;
  z-index: 1;
  top: 9em;
  right: 1.5em;
  height: 9em;
  width: 4em;
  background-color: var(--skinDark);
  border-width: 0.3em;
  border-color: var(--outline);
  border-bottom-style: solid;
  border-right-style: solid;
  border-top-left-radius: 30%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 30%;
  transform: rotate(-40deg) rotateY(-30deg);
  animation: flip2 4s ease-in-out;
  animation-iteration-count: infinite;
}

/*===================
// CURVE SHAPES 
===================*/

.inverted{
  background-color: rgba(0,0,0,0);
  box-shadow: 0em -1.5em 0em 0em var(--skin);
}

.inverted-n{
  background-color: rgba(0,0,0,0);
  box-shadow: 0em 0.5em 0em 0em var(--skin);
}

.half-height{
  display: grid;
  grid-template-rows: 50% 50%;
}

.half-width{
  display: grid;
  grid-template-columns: 50% 50%;
}

.se{
  height: 100%;
  width: 100%;
  border-width: 0.3em;
  border-color: var(--outline);
  border-top-style: solid;
  border-left-style: solid;
  border-top-left-radius: 16em;
}

.se-sharp{
  border-top-left-radius: 100%;
  height: 100%;
  width: 100%;
  border-width: 0.3em;
  border-color: var(--outline);
  border-top-style: solid;
  border-left-style: solid;
}

.ne{
  height: 100%;
  width: 100%;
  border-width: 0.3em;
  border-color: var(--outline);
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-left-radius: 16em;
}

.ne-sharp{
  border-bottom-left-radius: 100%;
  height: 100%;
  width: 100%;
  border-width: 0.3em;
  border-color: var(--outline);
  border-bottom-style: solid;
  border-left-style: solid;
}

.nw{
  height: 100%;
  width: 100%;
  border-width: 0.3em;
  border-color: var(--outline);
  border-bottom-style: solid;
  border-right-style: solid;
  border-bottom-right-radius: 16em;
}

.nw-sharp{
  border-bottom-right-radius: 100%;
  height: 100%;
  width: 100%;
  border-width: 0.3em;
  border-color: var(--outline);
  border-bottom-style: solid;
  border-right-style: solid;
}

.sw{
  height: 100%;
  width: 100%;
  border-width: 0.3em;
  border-color: var(--outline);
  border-top-style: solid;
  border-right-style: solid;
  border-top-right-radius: 16em;
}

.sw-sharp{
  border-top-right-radius: 100%;
  height: 100%;
  width: 100%;
  border-width: 0.3em;
  border-color: var(--outline);
  border-top-style: solid;
  border-right-style: solid;
}

@keyframes talk{
  15%{
    transform: translateY(-0.25em) rotate(10deg);
  }
  30%{
    transform: translateY(-0.5em) rotate(-10deg);
  }
  45%{
    transform: translateY(-0.25em) rotate(5deg);
  }
  60%{
    transform: translateY(0em) rotate(0deg);
  }
}

@keyframes tailFlip{
  45%{
    top: 21em;
    transform: rotateX(-30deg) rotateZ(-15deg);
  }
  100%{
    top: 19.5em;
    transform: rotateX(-60deg) rotateZ(-15deg);
  }
}

@keyframes swim{
  45%{
    transform: translateY(-1em);
  }
  100%{
    transform: translateY(0em);
  }
}

@keyframes flip1{
  45%{
    top: 9.5em;
    left: -0.5em;
    transform: rotate(15deg) rotateY(0deg);
  }
  100%{
    top: 9em;
    left: -1.5em;
    transform: rotate(30deg) rotateY(30deg);
  }
}

@keyframes flip2{
  45%{
    right: 3em;
    transform: rotate(-20deg) rotateY(-30deg);
  }
  100%{
    right: 1.5em;
    transform: rotate(-40deg) rotateY(-30deg);
  }
}